<script src="<%= params.js_path %>manifest.js?<%= params.cache_busting_str %>"></script>
<script src="<%= params.js_path %>vendor.js?<%= params.cache_busting_str %>"></script>
<script src="<%= params.js_path %>script.js?<%= params.cache_busting_str %>"></script>
</body>
</html>